html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

button, a {
  display: inline-block;
}

footer {
  position: absolute;
  top: 2089.2px;
  height: 123.05px;
  width: 1444px;
  background: #152700;
  text-align: center;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 40px;
}

.upper-rectangle {
  position: absolute;
  width: 1444px;
  height: 664px;
  left: -2px;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 0;
}

.upper-container {
  position: absolute;
  width: 1444px;
  height: 664px;
  left: -2px;
  top: 0;
  background: url(images/main.png);
  z-index: -1;
}

.navbar {
  position: absolute;
  z-index: 1;
  width: 1444px;
}

.brand {
  margin: 40px 0 0 100px;
}

.nav-items {
  text-align: center;
  height: 22px;
  float: right;
  padding: 60px 40px 0 0;
}

.nav {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 40px;
}

.nav-home {
  color: #708332;
}

.nav-charters, .nav-contact {
  color: #FFFFFF;
}

.main-container {
  position: absolute;
  width: 900px;
  height: 126.66px;
  left: 230.61px;
  top: 230.87px;
  text-align: center;
}

.main-title {
  font-size: 55px;
  line-height: 70px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn-main {
  background: #708332;
  border-radius: 2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 20px;
}

.description-photo {
  position: absolute;
  width: 776.75px;
  height: 507.28px;
  left: 0;
  top: 582.84px;
  background: url(images/mountain.png);
}

.description-container {
  position: absolute;
  width: 467px;
  height: 50.7px;
  left: 876.9px;
  top: 764.29px;
}

.description-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  color: #283618;
  margin-bottom: 15px;
}

.description-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #444444;
  margin-bottom: 40px;
}

.btn-charters {
  left: 876.9px;
  top: 969.51px;
  background: #283618;
  border-radius: 2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 12px 20px;
  text-decoration: none;
}

.charters-description {
  position: absolute;
  width: 683.89px;
  height: 105.68px;
  left: 377.02px;
  top: 1200px;
}

.charters-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 2px;
  color: #283618;
  margin-bottom: 20px;
}

.charters-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #444444;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: 390.16px 390.16px 390.16px;
  grid-template-rows: 256.16px 256.16px 256.16px;
  grid-gap: 10px;
  top: 1403.23px;
  left: 122.67px;
}

.grid-item {
  background-size: 400px;
  display: inline-block;
  transition: .3s;
}

button:hover, a:hover, .grid-item:hover {
  transform: translateY(-8px);
  opacity: 0.7;
  cursor: pointer;
  transition: .2s;
}

.vancouver {
  background-image: url(images/vancouver.png);
}

.squamish {
  background-image: url(images/squamish.png);
}

.pemberton {
  background-image: url(images/pemberton.png);
}

.tofino {
  background-image: url(images/tofino.png);
}

.ucluelet {
  background-image: url(images/ucluelet.png);
}

.victoria {
  background-image: url(images/victoria.png);
}

.subgrid {
  display: grid;
  grid-template-columns: 390.16px;
  grid-template-rows: 62.19px;
  margin-top: 193.97px;
  background: #0000009c;
  text-align: center;
}

.book-now, .book {
  display: grid;
}

.book-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.book-action {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 2px;
}

.book-trip {
  position: absolute;
  width: 219.95px;
  height: 36.58px;
  left: 610.52px;
  top: 1959.71px;
  background: #283618;
  border-radius: 2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.tel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
  width: 180px;
}

.email {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 188px;
}

.contact-form {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.form-close-btn {
  font-size: 2rem;
  color: #FFFFFF;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 50px;
  top: 50px;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.form-close-btn:hover {
  transition: .4s;
  transform: rotate(90deg);
}

.form-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin-top: 30px;
}

.text-input {
  padding: 5px;
  display: block;
  width: 238px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border: 1px;
  border-style: none none solid none;
  border-color: #FFFFFF;
  background-color: transparent;
}

::placeholder {
  color: #FFFFFF;
}

.input-1, .input-2 {
  display: inline-block;
  margin: 30px 0 25px 0;
  background-color: transparent;
}

.message-area {
  width: 500px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 5px;
  background-color: transparent;
}

.btn-form {
  width: 154.01px;
  height: 36.58px;
  background: #405924;
  border-radius: 2px;
  float: right;
  margin-top: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.contact-container {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(254, 252, 252, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.contact-content {
  width: 100%;
  max-width: 500px;
  padding: 100px 200px;
  background-image:
    linear-gradient(rgba(36, 43, 28, 0.9),
      rgba(36, 43, 28, 0.9)),
    url(images/form.png);
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.contact-active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  footer {
    top: 1700px;
    height: 123.05px;
    width: 768px;
  }

  li {
    padding: 15px 10px 5px 10px;
    margin-top: 15px;
  }

  .upper-rectangle {
    width: 768px;
    height: 500px;
  }

  .upper-container {
    width: 768px;
    height: 500px;
    background-size: 1000px;
  }

  .navbar {
    width: 768px;
  }

  .brand {
    margin: 30px 10px 0 50px;
  }

  .nav-items {
    height: 18px;
    padding: 30px 20px 0 0;
  }

  .nav {
    font-size: 14px;
    line-height: 22px;
    margin-right: 30px;
  }

  .main-container {
    width: 700px;
    height: 120px;
    left: 30px;
    top: 150px;
  }

  .main-title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .btn-main {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 20px;
  }

  .description-photo {
    width: 400px;
    height: 300px;
    top: 450px;
    background-size: 600px;
  }

  .description-container {
    width: 300px;
    height: 30px;
    left: 450px;
    top: 550px;
  }

  .description-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .description-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .btn-charters {
    left: 876.9px;
    top: 969.51px;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 20px;
  }

  .charters-description {
    width: 500px;
    height: 100px;
    left: 120px;
    top: 950px;
  }

  .charters-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .charters-text {
    font-size: 16px;
    line-height: 22px;
  }

  .grid-container {
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 180px 180px 180px;
    grid-gap: 10px;
    top: 1150px;
    left: 30px;
  }

  .grid-item {
    background-size: 250px;
  }

  .subgrid {
    grid-template-columns: 230px;
    grid-template-rows: 60px;
    margin-top: 120px;
  }

  .book-title {
    font-size: 20px;
    margin-top: 5px;
  }

  .book-action {
    font-size: 8px;
    line-height: 11px;
  }

  .book-trip {
    width: 300px;
    height: 36.58px;
    left: 230px;
    top: 1580px;
    font-size: 12px;
    line-height: 16px;
  }

  .tel {
    font-size: 12px;
    line-height: 16px;
  }

  .email {
    font-size: 12px;
    line-height: 16px;
    margin-left: 5px;
  }

  .contact-form {
    width: 430px;
  }

  .form-close-btn {
    right: 40px;
    top: 40px;
  }

  .form-close-btn:hover {
    transition: .4s;
    transform: rotate(90deg);
  }

  .form-title {
    font-size: 42px;
    line-height: 56px;
    margin-top: 30px;
  }

  .text-input {
    width: 200px;
  }

  .input-1, .input-2 {
    margin: 30px 0 25px 0;
  }

  .message-area {
    width: 430px;
  }

  .btn-form {
    width: 154.01px;
    height: 36.58px;
    margin-top: 15px;
  }

  .contact-content {
    width: 100%;
    max-width: 430px;
    padding: 50px 70px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    top: 1700px;
    height: 123.05px;
    width: 600px;
  }

  li {
    padding: 15px 5px 5px 5px;
    margin-top: 15px;
  }

  .upper-rectangle {
    width: 600px;
    height: 500px;
  }

  .upper-container {
    width: 600px;
    height: 500px;
    background-size: 1000px;
  }

  .navbar {
    width: 600px;
  }

  .brand {
    margin: 30px 10px 0 50px;
  }

  .nav-items {
    height: 18px;
    padding: 30px 20px 0 0;
  }

  .nav {
    font-size: 14px;
    line-height: 22px;
    margin-right: 30px;
  }

  .main-container {
    width: 500px;
    height: 120px;
    left: 50px;
    top: 150px;
  }

  .main-title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .btn-main {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 20px;
  }

  .description-photo {
    width: 330px;
    height: 300px;
    top: 450px;
    background-size: 500px;
  }

  .description-container {
    width: 230px;
    height: 30px;
    left: 350px;
    top: 550px;
  }

  .description-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .description-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .btn-charters {
    left: 876.9px;
    top: 969.51px;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 20px;
  }

  .charters-description {
    width: 400px;
    height: 100px;
    left: 100px;
    top: 1000px;
  }

  .charters-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .charters-text {
    font-size: 16px;
    line-height: 22px;
  }

  .grid-container {
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    top: 1220px;
    left: 15px;
  }

  .grid-item {
    background-size: 200px;
  }

  .subgrid {
    grid-template-columns: 180px;
    grid-template-rows: 45px;
    margin-top: 105px;
  }

  .book-title {
    font-size: 20px;
    margin-top: 3px;
  }

  .book-action {
    font-size: 8px;
    line-height: 11px;
  }

  .book-trip {
    width: 200px;
    height: 36.58px;
    left: 200px;
    top: 1580px;
    font-size: 12px;
    line-height: 16px;
  }

  .tel {
    font-size: 12px;
    line-height: 16px;
  }

  .email {
    font-size: 12px;
    line-height: 16px;
    margin-left: 5px;
  }

  .contact-form {
    width: 430px;
  }

  .form-close-btn {
    right: 40px;
    top: 40px;
  }

  .form-close-btn:hover {
    transition: .4s;
    transform: rotate(90deg);
  }

  .form-title {
    font-size: 42px;
    line-height: 56px;
    margin-top: 30px;
  }

  .text-input {
    width: 200px;
  }

  .input-1, .input-2 {
    margin: 30px 0 25px 0;
  }

  .message-area {
    width: 430px;
  }

  .btn-form {
    width: 154.01px;
    height: 36.58px;
    margin-top: 15px;
  }

  .contact-content {
    width: 100%;
    max-width: 430px;
    padding: 50px 70px;
  }
}
